*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 20px;
    background: red;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding:15px 20px;
}